<form #mailForm="ngForm">
  <div>
    <label for="recipient">Destinataire</label>
    <input type="email" id="recipient" name="recipient" [(ngModel)]="mail.recipient" required email>
  </div>
  <div>
    <label for="sender">Expéditeur</label>
    <input type="email" id="sender" name="sender" [(ngModel)]="mail.sender" required>
  </div>
  <div>
    <p
       [hidden]="objectModel.valid || objectModel.untouched">
      Une phrase d'explication
    </p>
    <label for="object">Objet</label>
    <input #objectModel="ngModel" type="text" id="object" name="object" [(ngModel)]="mail.object" required  pattern="[a-zA-Z _-]+">
  </div>
  <div>
    <label for="body">Corps</label>
    <textarea id="body" cols="30" rows="10" name="body"  [(ngModel)]="mail.body"></textarea>
  </div>
  <div *ngFor="let cc of mail.cc; let i=index; trackBy: trackByIndex">
    <label [htmlFor]="'cc' + i">cc:</label>
    <input type="text" [id]="'cc'+i" name="cc{{i}}" [(ngModel)]="mail.cc[i]">
    <button (click)="removeCarbonCopy(i)">-</button>
  </div>
  <div class="form-group">
    <label for="cc">Nouvelle copie carbone</label>
    <input [(ngModel)]="newCarbonCopy"  type="text" id="cc" name="cc">
    <button (click)="addCarbonCopy()">+</button>
  </div>
  <button (click)="sendMail(); mailForm.reset()" [disabled]="mailForm.form.invalid">Envoyer</button>
</form>
